{% extends "layout.html" %}

{% block main %}

<div class="container-md">
    <h1 class="display-1 text-center">Band50</h1>
    <h2 class="display-4 text-left ml-2">a music creation platform</h2>

    <!--Quick how to-->
    <p class="lead"> Here's how to use our platform! </p>
    <p> Click from the above "Instruments" dropdown to select an instrument. </p>
    <p> Get creative! Play whatever notes or drum sounds you want by clicking the buttons, and switch instruments at any time. </p>
    <p> Use the PLAYBACK button to hear your work. </p>
    <p> Use the CLEAR button to start over. </p>
</div>


{% endblock %}
