{% extends "layout.html" %}

{% block main %}

<div class="container-md">

    <div class="row">
        <h1 class="display-1 text-center">Band50</h1>
        <h2 class="display-4 text-left ml-2">a music creation platform</h2>

        <p class="lead"> Welcome to our platform! </p>
        <p> Click from the above dropdown or the below cards to select an instrument and start creating, or view the "About" tab for more. </p>
    </div>

    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="static/images/sine.png" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">Click <a href="xylo">here</a> for a simple sine wave</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="static/images/square.png" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">Click <a href="inst2">here</a> for a square wave</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <br><br><br>
    </div>

    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="static/images/saw.png" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">Click <a href="inst3">here</a> for a sawtooth wave</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="static/images/canoe.jpg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">here's a final thing</p>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}