{% extends "layout.html" %}

{% block main %}

<!--Standard class for all instruments except drums; everything extends this-->

<br>
<br>
<br>

<!--Form w/ buttons representing CDEFGAB-->
<!--Used various bootstrap classes for formatting-->

<div class="text-center my-auto">
    <form method="post">
        <button type="submit" name="button" class="btn button-primary" style="background-color:red; color:white" value=1>C</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color:orange" value=2>D</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color:yellow" value=3>E</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color: yellowgreen" value=4>F</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color:blue; color:white" value=5>G</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color:blueviolet" value=6>A</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color:purple; color:white" value=7>B</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color: pink;"value=8>PLAYBACK</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color: black; color:white"value=9>CLEAR</button>
    </form>
</div>





<!-- <script>
    function myFunction(test)
    {
        alert(test);
        
    }

</script> -->

{% endblock %}