{% extends "layout.html" %}

{% block main %}

<br>
<br>
<br>

<!--Special page needed for drums because buttons are different: -->

<div class="text-center my-auto instrument-txt">
    <form method="post">
        <button type="submit" name="button" class="btn button-primary" style="background-color:red; color:white" value=1>Snap</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color:orange" value=2>Kick</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color:yellow" value=3>Hi-Hat</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color:yellowgreen" value=4>Laser</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color: pink;"value=8>PLAYBACK</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color: black; color:white"value=9>CLEAR</button>
    </form>
</div>

{% endblock %}