{% extends "layout.html" %}

{% block main %}

<!-- <img src="static/images/x1.png">
<img src="static/images/x2.png">
<img src="static/images/x3.png">
<img src="static/images/x4.png">
<img src="static/images/x5.png">
<img src="static/images/x6.png">
<img src="static/images/x7.png"> -->
<!-- 
<img src="static/images/xylophone.png" usemap="#instrument" width="510" height="289">

<map name="instrument">
    <area shape="rect" coords="0, 0, 73, 289" onclick="myFunction(1)">
    <area shape="rect" coords="0, 0, 146, 289" onclick="myFunction(2)">
    <area shape="rect" coords="0, 0, 219, 289" onclick="myFunction(3)">
    <area shape="rect" coords="0, 0, 292, 289" onclick="myFunction(4)">
    <area shape="rect" coords="0, 0, 365, 289" onclick="myFunction(5)">
    <area shape="rect" coords="0, 0, 438, 289" onclick="myFunction(6)">
    <area shape="rect" coords="0, 0, 510, 289" onclick="myFunction(7)">
</map> -->

<br>
<br>
<br>

<div class="text-center my-auto instrument-txt">
    <form method="post">
        <button type="submit" name="button" class="btn button-primary" style="background-color:red; color:white" value=1>C</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color:orange" value=2>D</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color:yellow" value=3>E</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color: yellowgreen" value=4>F</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color:blue; color:white" value=5>G</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color:blueviolet" value=6>A</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color:purple; color:white" value=7>B</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color: pink;"value=8>PLAYBACK</button>
        <button type="submit" name="button" class="btn button-primary" style="background-color: black; color:white"value=9>CLEAR</button>
    </form>
</div>





<!-- <script>
    function myFunction(test)
    {
        alert(test);
        
    }

</script> -->

{% endblock %}